* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #002244;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.barraDePesquisa {
    background-color: lightgreen;
}

.barraDePesquisa input[type="text"] {
    padding: 5px;
    width: 200px;
}

.barraDePesquisa button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.fraseDeImpacto {
    background-color: grey;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

.promocoes {
    text-align: center;
}

.promocoes-carrosel {
    overflow: hidden;
}

.promo-item {
    display: none;
}

.promo-item img {
    max-width: 10%;
    max-height: 10%;
    display: block;
    margin: 0 auto;
}

.products ul {
    list-style-type: none;
}

.products ul li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.footer {
    text-align: center;
    background-color: #002244;
    color: white;
    padding: 10px 0;
    width: 100%;
}
